{% extends 'base.html.twig' %}
{% block content %}
    <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2 my-10">
        <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;" >
            <thead>
            <tr class="text-sm">
                <th scope="col">ID</th>
                <th scope="col">Country</th>
                <th scope="col">Code</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
                <th scope="col">Postcode</th>
            </tr>
            </thead>
            <tbody>
            {% for geolocation in geolocations %}
                <tr class="clickable-row cursor-pointer" onclick="location.href='{{ path("app_monitor_station", {"id": geolocation.getStation().getId()}) }}'">
                    <th scope="row">{{ geolocation.getStation().getId() }}</th>
                    <td>{{ geolocation.getCountry() }}</td>
                    <td>{{ geolocation.getCountryCode().getId() }}</td>
                    <td>{{ geolocation.getState() }}</td>
                    <td>{{ geolocation.getCity() }}</td>
                    <td>{{ geolocation.getPostcode() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}